form {
    // width: 80%;
    margin: 0 auto;
    margin-left: 20%;
    // background-color: red;
    // text-align: center;
}

.form-input {
    margin-top: 20px;
}

#backhome {
    display: inline-block;
    margin-left: 10%;
    margin-top: 20px;
    // background-color: blue;
}